<ion-view view-title="Add Task">
  <ion-content>
    <label class="item item-input">
        <span class="input-label">Task Name</span>
        <input type="text">
    </label>
     <label class="item item-input">
        <span class="input-label">What To Do?</span>
        <input type="text">
    </label>
      <div class="button-bar">
          <a class="button button-large button-calm"> Add </a>
          <a class="button button-large button-assertive"> Clear </a>
      </div>
      
  </ion-content>
</ion-view>
